.catpic {
  border-width: medium;
  border-style: solid;
  border-color: black;
  display:inline-block;
  float:left;
  padding:10px;

}

.lihold{
  width:200px;
  height:600px;
  display:inline-block;
  float:left;
}
